<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<h3>Login System</h3>
	<div>
	<form action="login.checkController" method="post">
		<table>
			<tr>
				<td>Account:</td>
				<td><input type="text" name="user_acc" /></td>
				<td id="errMsg"></td>
			</tr>

			<tr>
				<td>Password:</td>
				<td><input type="password" name="user_pwd" /></td>
				<td id="errMsg" ></td>
			</tr>
			<tr>
				<td><input type="submit" value="Send" /></td>
			</tr>
		</table>
	</form>
	</div>
	
	<div>
	<form action="register.mainPageController" method="get">
	<input type="submit" value="Create Account">
	</form>
	</div>
</body>
</html>